<div class="search-form mt-5">
  <div class="row">
    <div class="col-6">
      <form method="POST">

        <div class="form-group">
          <label for="search">Search</label>
          <input
            type="text"
            name="q"
            class="form-control"
            id="search"
            placeholder="Search..."
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>